.venv
.venv_
transformations/
__pycache__/

profile.ovpn
.env
etl_pipeline/tree_structure_scripts
hyperx_2nd_fev.ipynb
call_analytics/recordings/

*.mp3
*.wav
automated_pipeline/automated_clustering_pipeline.ipynb